@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Jost:wght@200&family=Montserrat:wght@200&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

:root {
    --main-bg-white: white;
    --main-bg-grey: rgb(247,247,247);
    --text-color-grey: lightgrey;
}

body {
    font-family: 'Jost', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 55px;
    margin: 18px;
    user-select: none;
}

h2 {
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 15px;
}

/* nav */

nav {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 4px -2px gray;
    background-color: var(--main-bg-white);
}

nav > .nav-bar-container {
    height: 72px;
    background-color: var(--main-bg-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > .nav-bar-container > .logo-container {
    height: 72px;
    margin-left: 20px;
}

nav > .nav-bar-container > .logo-container > img {
    height: 100%;
}

nav > .nav-bar-container > .sitemap-container > ul {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}

nav > .nav-bar-container > .sitemap-container > ul > li,
nav > .hamburger-menu-container > ul > li {
    list-style: none;
}

nav > .nav-bar-container > .sitemap-container > ul > li > a,
nav > .hamburger-menu-container > ul > li > a
{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

nav  > .nav-bar-container > .sitemap-container > ul > li > a:hover,
nav > .hamburger-menu-container > ul > li > a:hover {
    color: grey;
}

nav  > .nav-bar-container > .buttons-container {
    display: flex;
    margin-right: 20px;
}

nav  > .nav-bar-container > .buttons-container > a {
    width: 24px;
    height: 24px;
    margin: auto 5px;
    padding: 3px;
}

nav  > .nav-bar-container > .buttons-container > a:hover {
    border: 1px solid grey;
    border-radius: 3px;
}

nav  > .nav-bar-container > .buttons-container > a > img {
    width: 16px;
    height: 16px;
}

nav  > .nav-bar-container > .buttons-container #hamburger-button {
    border: solid;
    border-color: lightgrey;
    border-radius: 3px;
    padding: 3px;
}

nav > .nav-bar-container > .buttons-container #hamburger-button:hover {
    border: none;
    border-color: white;
    border-radius: 3px;
    padding: 3px;
}

nav  > .nav-bar-container > .buttons-container #hamburger-button > img {
    width: 15px;
    height: 15px;
}

nav > .hamburger-menu-container {
    padding: 20px;
}

/* header */

header {
    position: relative;
}

header > .hero-image-container {
    overflow: hidden; 
}

header > .hero-image-container > img { 
    width: 100%;
}

header > .info-container {
    width: 400px;
    height: 250px;
    position: absolute;
    right: 50px;
    top: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

header > .info-container > .title-info-container {
    width: 400px;
    height: 180px;
    background-color: var(--main-bg-white);
    color: black;
}

header > .info-container > .more-info-container {
    width: 300px;
    height: 50px;
    background-color: var(--main-bg-white);
    color: black;
    display: flex;
    justify-content: space-between;
}

header > .info-container > .more-info-container > #more-info-text {
    margin: auto 20px;
}

header > .info-container > .more-info-container > a {
    margin-right: 20px;
    padding: 15px;
}

header > .info-container > .more-info-container > a:hover {
    border: 1px solid grey;
    border-radius: 3px;
}

header > .info-container > .more-info-container > a > img {
    height: 15px;
    width: 8px;
}

header > .down-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    border: none;
    background-color: transparent;
    padding: 3px;
}

header > .down-button:hover {
    border: 1px solid grey;
    border-radius: 3px;
}

header > .down-button > img {
    -webkit-filter: invert(80%);
}

/* main */

/* sections vision */

.vision {
    background-color: var(--main-bg-white);
    padding: 60px;
}

.vision-container {
    background-color: #F7F7F7;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.vision-container > a {
    text-decoration:underline dotted;
    color: black;
}

.vision-container > a:hover {
    color: var(--text-color-grey);
}

/* section collections */

.collections {
    background-color: var(--main-bg-white);
    padding: 80px;
}

.collections-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    width: 90%;
    margin:auto;
}

.collection-card {
    background-color: var(--main-bg-grey);
    height: 370px;
    border-radius: 3px;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.collection-card > .collection-image-container {
    height: 250px;
    width: 250px;
}

.collection-card > .collection-image-container > img {
    width: 100%;
}

.collection-card > .collection-title-container {
    width: 200px;
    text-align: center;
    margin: auto;
    background-color: #E3E3E3;
    padding: 10px;
}

.collection-card > .collection-title-container .collection-title > a {
    padding: 5px;
    margin: 5px;
    overflow-wrap: break-word;
    inline-size: 180px;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.collection-card > .collection-title-container .collection-title > a:hover {
    color: white;
}

/* section products */

.products-container {
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.products-container > #products-title {
    margin: 10px;
    font-size: 30px;
}

.products-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    width: 90%;
    margin:auto;
    box-shadow: 0 1px 2px -2px rgb(55, 53, 53);
}

.product-card {
    width:300px;
    margin: auto;
}

.product-card > a {
    width: 300px;
}

.product-card > a > img {
    width: 100%;
}

/* collections texts */
.texts {
    background-color: var(--main-bg-grey);
    padding: 40px;
}

.texts > .block-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.texts > .block-container > .description-block {
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.texts > .block-container > .description-block > article {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* footer */

footer {
    background-color: black;
    color: var(--text-color-grey);
    padding: 80px;
}

.location-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding:20px;
    margin-bottom: 30px;
    border: 1px solid grey;
}

.location-form > .location-image-container {
    height: 30px;
    width: 30px;
    margin-left: 20px;;
}

.location-form > .location-image-container img {
    height: 100%;
    /* -webkit-filter: invert(100%); */
}

.location-form > label {

}

.location-form > input {
    width: 300px;
    height: 30px;
    background-color: grey;
    border-radius: 5px;
    color:var(--text-color-grey);
    padding: 5px;
    
}

.location-form > input::placeholder {
    color:var(--text-color-grey);
}

.location-form > button {
    width: 200px;
    height: 30px;
}

.footer-container {
    border: 1px solid grey;
}

.footer-container > h2 {
    margin: 15px 15px 15px 20px;
}

.lists-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    border: 1px solid grey;
}

.lists-container > div > h3 {
    margin: 10px 0;
}

.lists-container > div > ul > li {
    list-style: none;
}

.lists-container > div > ul > li > a {
    text-decoration: none;
    color: var(--text-color-grey);
}

.lists-container > div > ul > li > a:hover {
    color: white;
}

.social-media-container {
    padding: 20px;
}

.social-media-container > h3 {
    padding-bottom: 15px;
}

.social-media-container > button {
    width: 40px;
    height: 40px;
}

.social-media-container > a > img {
    width: 30px;
    height: 30px;
}

@media screen and (min-width:375px) {
    .info-container {
        display:none;
    }
}

@media screen and (max-width:800px) {
    .vision {
        padding: 60px 0;
    }
    .collections {
        padding: 40px 0;
    }
}

@media screen and (max-width:985px) {
    .info-container {
        visibility: hidden;
    }
    .sitemap-container {
        display: none;
    }
    #hamburger-button {
        display: block;
    }
    .hidden {
        display: none !important;
    }
    .location-form {
        display: none;
    }
    
}

@media screen and (min-width:985px) {
    .hamburger-menu-container {
        display: none;
    }
    #hamburger-button {
        display: none;
    }
    .hidden {
        display: none !important;
    }
}